name: "dlcdevkit"
services:
  bitcoin:
    image: kylemanna/bitcoind:latest
    container_name: bitcoin
    command: |
      -regtest=1
      -rpcuser=ddk
      -rpcpassword=ddk
      -rpcallowip=0.0.0.0/0
      -rpcbind=0.0.0.0
      -server=1
      -addresstype=bech32
      -fallbackfee=0.0002
      -txindex=1
      -zmqpubrawblock=tcp://0.0.0.0:28332
      -zmqpubrawtx=tcp://0.0.0.0:28333
      -printtoconsole
      -regtest
    ports:
      # regtest ports
      - 18443:18443
    volumes:
      - ddk-bitcoin:/bitcoin/.bitcoin
  electrs:
    image: ghcr.io/vulpemventures/electrs:latest
    container_name: electrs
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - bitcoin:18443
      - --cookie
      - ddk:ddk
      - --http-addr
      - 0.0.0.0:30000
      - --electrum-rpc-addr
      - 0.0.0.0:50000
      - --cors
      - "*"
      - --jsonrpc-import
    depends_on:
      - bitcoin
    ports:
      - 50000:50000
      - 30000:30000
    expose:
      - "30000"
      - "50000"
    volumes:
      - ddk-bitcoin:/config
    restart: unless-stopped
  kormir-oracle-db:
    profiles: [kormir]
    image: postgres:latest
    container_name: kormir-oracle-db
    hostname: kormir-oracle-db
    environment:
      - POSTGRES_PASSWORD=kormir
      - POSTGRES_USER=kormir
    ports:
      - "5433:5432"
    volumes:
      - oracle-db-data:/kormir
  nostr-relay:
    profiles: [nostr, kormir]
    image: scsibug/nostr-rs-relay
    container_name: nostr-relay
    hostname: nostr-relay
    ports:
      - "8081:8081"
    volumes:
      - nostr-relay:/usr/src/app/db
      - ./testconfig/config.toml:/usr/src/app/config.toml
  p2p-oracle-server:
    profiles: [p2p]
    image: ghcr.io/p2pderivatives/oracle:v0.2.3
    container_name: oracle-server
    command: |
      -config /config
      -appname p2pdoracle
      -e integration
      -migrate
    environment:
      - P2PDORACLE_DATABASE_HOST=p2p-oracle-db
      - P2PDORACLE_ORACLE_KEYFILE=/key/key.pem
      - P2PDORACLE_ORACLE_KEYPASS_FILE=/key/pass.txt
    restart: always
    depends_on:
      - p2p-oracle-db
    ports:
      - "8080:8080"
    volumes:
      - ./testconfig/p2p-oracle:/config
      - ./testconfig/p2p-oracle/certs/oracle:/key
  p2p-oracle-db:
    profiles: [p2p]
    image: oracledb:latest
    build:
      context: .
      dockerfile: ./testconfig/p2p-oracle/oracledb.dockerfile
    command: |
      -c log_statement=all
      -c ssl=on
      -c ssl_cert_file=/certs/db.crt
      -c ssl_key_file=/certs/db.key
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=db
    volumes:
      - oracle-db-data:/var/lib/postgresql/data/
volumes:
  oracle-db-data:
  ddk-bitcoin:
  nostr-relay:

networks:
  dlcdevkit:
    name: "dlcdevkit"
